@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GPX File Handler Sample (FHv1)</h1>
    <p class="lead">This is a sample file handler application which implements the File Handler v1 protocol.</p>
    <p><a href="https://msdn.microsoft.com/en-us/office/office365/howto/create-file-handler-extensions" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Activate on your account</h2>
        <p>
            To enable the file handler for your Office 365 account, click the **Sign in** button and grant consent to this application.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Register manifest</h2>
        <p>If you have not yet registered your file handler manifest with Azure Active Directory, this file handler project will not be enabled in Office 365.</p>
        <p><a class="btn btn-default" href="https://msdn.microsoft.com/en-us/office/office365/howto/programmatically-install-update-or-delete-apps">Learn more &raquo;</a></p>
    </div>
</div>